<div class="container">
  <div id="contribute-header">
    <h1>Contribute to Our Project</h1>
    <p>
      Our app is open source and always improving, but we need your help! By contributing to
      the project, you can help make the app more accessible to more users.
    </p>
  </div>

  <div class="cards-container">
    @for (card of cards; track card) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-icon [name]="card.icon" />
            {{ card.title }}
          </ion-card-title>
          <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ card.content }}</p>
        </ion-card-content>

        <a href="#" target="_blank">
          <ion-button fill="clear">{{ card.action.text }}</ion-button>
        </a>
      </ion-card>
    }
  </div>
</div>
